.header {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    @include center-v();
    padding-left: 25px;

    &__image {
        width: 50px;
    }

    &__link {
        @include center-v();
    }
}